<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  
  <connectionStrings>
    <!-- LOCAL SQL -->
    <add name="ShiftDBConnection" connectionString="Data Source=localhost\SQL2014;Initial Catalog=ShiftJobsDB;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
  
    <!--AZURE SQL 
    <add name="ShiftDBConnection" connectionString="Server=tcp:shiftdb.database.windows.net,1433;Initial Catalog=ShiftJobsDB;Persist Security Info=False;User ID=[username];Password=[password];MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
    -->
  </connectionStrings>

  <appSettings>
    <add key="UseCache" value="true" />
    <!-- Local Cache -->
    <add key="CacheConfigurationString" value="localhost:6379"/>
    
    <!-- Azure Cache 
    <add key="CacheConfigurationString" value="shiftcache.redis.cache.windows.net:6379,password=[password],ssl=false,abortConnect=False"/>
  -->
  </appSettings>
</configuration>